<div class="container" style="max-width: 1200px">
  <div class="row bg-primary text-white pt-2">
    <div class="col-4">
      <h1 class="lead">Wecker</h1>
    </div>
    <div class="col-4 text-center">
      <h1 class="lead">
        <div>{{ time | date: 'shortTime' }}</div>
      </h1>
    </div>
    <div class="col-4 text-end">
      Silent
      <mat-slide-toggle
          class="ps-1 pt-1"
          [checked]="silent"
          (change)="onSilentChanged($event)">
      </mat-slide-toggle>
    </div>
  </div>
  <div class="row text-center text-muted mb-2">
    <div *ngIf="weckerList.length == 0">
      <p class="py-3 mt-3">Noch kein Wecker erstellt</p>
    </div>
    <div *ngFor="let wecker of weckerList">
      <app-wecker-teaser [wecker]="wecker" (changedWecker)="onWeckerChanged($event)"
      class="list-group-item list-group-item-action list-group-item-secondary">
      </app-wecker-teaser>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <button mat-fab color="primary" aria-label="add Wecker" (click)="addWecker()">
        <mat-icon>alarm_add</mat-icon>
      </button>
    </div>
  </div>
  <div>
  </div>

</div>
